<%- include('header') %>
<img
    src="userImages/<%= user.image %>"
    width="120px"
    height="120px"
    alt="<%= user.image %>"
/>
<form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="image" />
    <input type="hidden" name="user_id" value="<%= user._id %>" />
    <br /><br />
    <input
        type="text"
        name="name"
        value="<%= user.name %>"
        placeholder="Enter name"
        required
    />
    <br /><br />
    <input
        type="text"
        name="email"
        value="<%= user.email %>"
        placeholder="Enter email"
        required
    />
    <br /><br />
    <input type="submit" value="Update Profile" />
</form>
<%- include('footer') %>
