<% include('../layouts/header.ejs') %>
<h3>Welcome, <%= user.name %></h3>
<table width="50%">
  <tr>
    <td>
      <img
        src="userImages/<%= user.image %>"
        alt="<%= user.image %>"
        width="120px"
        height="120px"
      />
    </td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= user.email %></td>
  </tr>
  <tr>
    <td>Verified</td>
    <td>
      <% if(user.is_verified == 1) { %>
      <p style="color: green">Verified</p>
      <% } else { %>
      <p style="color: red">No</p>
      <% } %>
    </td>
  </tr>
</table>

<br />
<a href="/edit?id=<%= user._id %>">Edit</a>
<br /><br />
<a href="/logout">Logout</a>
<% include('../layouts/footer.ejs') %>
